@import './fonts';

//COLORS
$color-white: #ffffff;
$color-magenta: #AD1FEA;
$color-dark-blue: #4661e6;
$color-light-blue: #62bcfa;
$color-deep-dark-blue: #373F68;
$color-deep-light-blue: #3a4374;
$color-deep-dark-grey: #647196;
$color-light-grey: #f2f4ff;
$color-light-2: #f7f8fd;
$color-orange: #f49f85;



$font-jost-regular: 'Jost-Regular';
$font-jost-semibold: 'Jost-SemiBold';
$font-jost-bold: 'Jost-Bold';