.heading-one {
    font-size: 2.4rem;
    font-family: $font-jost-bold;
    color: $color-deep-light-blue;
    line-height: 3.5rem;
}

.heading-two {
    font-size: 1.8rem;
    font-family: $font-jost-bold;
    color: $color-deep-light-blue;
    line-height: 2.6rem;
    font-weight: bold;
}

.heading-three {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: -0.194444px;
}

.regular {
    font-weight: 300;
}

.semibold {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}