
.main-content {
    width: 82.5rem;
    height: 69.6rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    

    &__header {
        height: 7.2rem;
        background-color: $color-deep-dark-blue;
        border-radius: 1rem;
        color: $color-white;
    }

    &__info-list {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__button {
        margin-left: auto;
    }

    &__sort {
        font-size: 1.4rem;
        margin-left: 3.5rem;
    }

    &__suggestions {
        line-height: 2.6rem;
        font-size: 1.8rem;
        margin-left: 2rem;
    }

    &__counter {
        margin-right: .5rem;
    }

    &__field {
        height: 59.7rem;
        background-color: $color-white;
        margin-top: auto;
        border-radius: 1rem;
        position: relative;
    }

    &__select {
        appearance: none;
        background-image: url('../../images/shared/icon-arrow-down.svg');
        background-repeat: no-repeat;
        width: 1.5rem;
        height: 1rem;
        border: none;
        background-color: $color-deep-dark-blue;
        transform: translateY(50%);
        overflow: hidden;
    }
}

.message-box {
    width: 41rem;
    height: 37.9rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;


    &__button {
        margin-top: 5rem;
    }
}

.block {
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-radius: 1rem;

    &__white {
        background-color: $color-white;
    }
}