.btn {
    border: none;
    border-radius: 1rem;
    background-color: $color-magenta;
    color: $color-white;
    font-family: $font-jost-regular;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2rem;
    text-decoration: none;
    padding: 1rem 1.5rem;

    &__magenta {
        background: $color-magenta;

        &:hover {
            background: #C75AF6;
        }
    }

    &__blue {
        background: $color-dark-blue;
        
        &:hover {
            background: #7C91F9;
        }
    }

    &__red {
        background: #D73737;
        &:hover {
            background: #E98888;
        }
    }

    &__dark-blue {
        background: #3A4374;
        &:hover {
            background: #656EA3;
        }
    }

    
}