.btn {
    border: none;
    // width: 15.8rem;
    // height: 4.4rem;
    border-radius: 1rem;
    background-color: $color-magenta;
    color: $color-white;
    font-family: $font-jost-regular;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2rem;
    text-decoration: none;
    padding: 1.5rem 2rem;
}