.raiting-button {
    width: 7.7rem;
    height: 3rem;
    background: #F2F4FF;
    border-radius: 10px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.180556px; 
    color: #3A4374;
}