.raiting-button {
    width: 7.7rem;
    height: 3rem;
    background: #F2F4FF;
    border-radius: 10px;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #4661E6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}